@import "tailwindcss";

/* Apply Poppins font to all p tags and header tags */
p, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-poppins), sans-serif;
}

body{
    background: linear-gradient(to right, #0f172a, #0e7490, #0f172a);
    font-family: var(--font-poppins), sans-serif;
}

.phaseone{
    box-shadow: inset 0px 0px 20px black;
}

